.serchfontstyle {
  color: #8f8f98;
  font-family: Geomanist, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}
.assetfilter {
  border-radius: 1rem;
  border: 2px solid #dce2ff;
  background: #fff;
  height: 3.375rem;
}

.assetfilter:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

.soryby {
  border: none;
  border-radius: 1rem;
  border: 2px solid #dce2ff;
  background: #fff;
  height: 3.375rem;
  width: 10.56rem;
  color: #8f8f98;

  font-family: Geomanist, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}
.soryby::-ms-expand {
  display: none;
}

.searchborder {
  border: none;
}
#browsers1,
.soryby {
  -moz-appearance: none;

  -webkit-appearance: none;
}

#browsers::-ms-expand {
  display: none;
}

@media (min-width: 576px) {
  .assetsearch {
    width: 28.68rem;
  }
  .assetlist {
    width: 13.56rem;
  }
  .searchborder {
    width: 10.56rem;
  }
}

@media (max-width: 575px) {
  .assetsearch {
    width: 20.93rem;
  }
  .assetlist {
    width: 20.93rem;
  }
  .searchborder {
    width: 20.93rem;
  }
}
@media (min-width: 768px) {
  .viewdetails {
    padding: 0rem 19rem;
  }
}
@media (max-width: 767px) {
  .viewdetails {
    padding: 0rem 3rem;
  }
}
@media (min-width: 576px) {
  .viewdetails {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .viewdetails {
    font-size: 0.93rem;
  }
}

.optionType {
  border-radius: 1rem;
  border: 2px solid #dce2ff;
  background: #fff;
  box-shadow: 0px 20px 50px 0px rgba(57, 57, 57, 0.08);
}
