.network {
  color: #4b4b4b;
  font-family: Geomanist, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 214.286% */
  letter-spacing: 0.02625rem;
}
.footerheading {
  color: #393939;
  font-family: Geomanist, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footeraccount {
  color: #8f8f98;
  font-family: Geomanist, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 187.5% */
}
.footerend {
  color: #4b4b4b;
  text-align: right;
  font-family: Geomanist, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 187.5% */
}

@media (min-width: 768px) {
  .footerend {
    padding-left: 6rem;
  }
}

@media (max-width: 767px) {
  .footerend {
    padding-left: 3rem;
  }
}
@media (min-width: 576px) {
  .footerend {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .footerend {
    font-size: 0.8rem;
  }
}

@media (min-width: 1182px) {
  .footertitle {
    top: 438px;
  }
}
@media (min-width: 1000px) and (max-width: 1181px) {
  .footertitle {
    top: 370px;
  }
}
@media (min-width: 870px) and (max-width: 999px) {
  .footertitle {
    top: 330px;
  }
}
@media (min-width: 717px) and (max-width: 869px) {
  .footertitle {
    top: 280px;
  }
}
@media (min-width: 650px) and (max-width: 716px) {
  .footertitle {
    top: 250px;
  }
}
@media (min-width: 570px) and (max-width: 649px) {
  .footertitle {
    top: 220px;
  }
}
@media (min-width: 490px) and (max-width: 569px) {
  .footertitle {
    top: 190px;
  }
}
@media (max-width: 489px) {
  .footertitle {
    top: 115px;
  }
}
