.banksLock {
  color: #8f8f98;
  font-family: Geomanist, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}
.access {
  color: #393939;
  font-family: Geomanist, sans-serif;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.notAnymore {
  color: #4e59e7;
  font-family: Geomanist, sans-serif;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (min-width: 992px) {
  .access1 {
    width: 34rem;
  }
  .access2 {
    width: 28rem;
  }
}

@media (min-width: 1088px) and (max-width: 1200px) {
  .section1 {
    margin-top: 8rem !important;
  }
}

@media (min-width: 811px) and (max-width: 1087px) {
  .section1 {
    margin-top: 14rem !important;
  }
}

@media (min-width: 768px) and (max-width: 810px) {
  .section1 {
    margin-top: 8rem !important;
  }
}
