.finance {
  font-family: Geomanist, sans-serif;
  font-size: 3.125rem;
  font-style: normal;
  line-height: 3.75rem;
}

.work {
  color: #8f8f98;
  font-family: Geomanist, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}

@media (min-width: 992px) {
  .work123 {
    width: 30.25rem;
    height: 23.56rem;
  }
}
