.helpsearch:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
.helpsearch {
  border: 1px solid #08c0b5 !important;
  box-shadow: 0px 20px 50px 0px rgba(8, 192, 181, 0.2);
  border-radius: 1.25rem;
}

@media (min-width: 768px) {
  .wehelp {
    font-size: 3.75rem;
  }
  .helpsearch {
    width: 40.125rem;
  }
}
@media (max-width: 767px) {
  .wehelp {
    font-size: 2rem;
  }
  .helpsearch {
    width: 20.93rem;
    /* width: 100%; */
  }
}

.accordclass {
  background: rgba(255, 255, 255, 0.5);
  border: 3px solid white;
  box-shadow: (0px 20px 50px rgba(0, 0, 0, 0.08));
  width: 34.81rem;
  height: 5.125rem;
}
